{{#> page_layout}}
{{#*inline "title"}} Ele pages {{/inline}}
{{#*inline "content"}}

    {{#each (bundle_query "{path: '**/*.html'}")}}
      <div class="index_entry">
        <a href="{{this.page_uri}}"><h4>{{this.metadata.title}}</h4></a>
        <h3 class="publishing_date">{{ date_format this.metadata.publishing_date.timestamp }}</h3>
        <div class="authors">
            {{#each this.metadata.authors}}
                <h3>{{this}}</h3>
            {{/each}}
        </div>
        <div class="tags">
            {{#each this.metadata.tags}}
                <h3>{{this}}</h3>
            {{/each}}
        </div>
        <h4>{{this.metadata.summary}}</h4>
      </div>
    {{/each}}

{{/inline}}
{{/page_layout}}