{{#> page_layout}}
{{#*inline "content"}}

<div class="page-content">
      {{#each (bundle_query "{tag: a}")}}
        <div class="page-header">
            <h2>
                {{#if this.metadata.title}}
                  {{this.metadata.title}}
                {{else}}
                 Untitled
                {{/if}}
            </h2>
        
            {{#if this.metadata.authors}}
            <h3> by
              {{#each this.metadata.authors}}
                <span>{{this}}</span>{{#unless @last}}, {{/unless}}
              {{/each}}
            </h3>
            {{/if}}
        
            <div class="page-last-edit">
                Last edit : {{this.metadata.last_edit_date.day}}, {{this.metadata.last_edit_date.short_month}} {{this.metadata.last_edit_date.short_year}}
            </div>
        
        
            <br/>
            <div class="page-tags">
                {{#each this.metadata.tags}}
                <h4>{{this}}</h4>
                {{/each}}
            </div>
        </div>
      {{/each}}
</div>

{{/inline}}
{{/page_layout}}